<h1>Add your Shipping details:</h1><br><br><br>
Full name: <input type="text" id="name" required><br><br>
Mobile number:  <input type="number" id="number" required><br><br>
Pincode:  <input type="number" id="pin" required><br><br>
Flat, House no., Building, Company, Apartment: <input type="text" id="houseno" required><br><br>
Area, Colony, Street, Sector, Village: <input type="text" id="area" required><br><br>
Landmark <br>(e.g. near apollo hospital)   : <input type="text" id="landmark" placeholder="E.g. Near AIIMS Flyover, Behind Regal Cinema, etc."><br><br>
Town/City: <input type="text" id="city" required><br><br>
State: <input type="text" id="state" required><br><br>
Additional Address Details <input type="text" id="addition"><br><br>
Address Type: <select id="type" required><option value=""> </option><option value="home">home</option><option value="work">work</option></select><br><br>
Payment method : <select id="pay" required><option value=""></option><option value="COD">COD</option><option value="Online">Online</option></select><br><br>
<button value="submit">Submit</button>
