<form action="/new" method="post" enctype=multipart/form-data>
USERNAME : <input type="text" name="uname" required><br><br>
GENDER : <INPUT type="radio" name="gender" value="male">Male    <input type="radio" name="gender" value="female">Female <br><br>
EMAIL ID : <INPUT  type ="email" name="email" required><br><br>
MOBILE NO. : <INPUT TYPE="NUMBER" name="mobile" minlength="10" maxlength="12" required>
ADDRESS : <INPUT  type ="TEXT" name="address" required><br><br>
CITY :<INPUT  type ="text" name="city" required><br><br>
PASSWORD : <input type="password" name="pass" required><br><br>
CONFIRM PASSWORD : <INPUT type ="password" name="pass2" required><br><br>
CHOOSE YOUR PROFILE : <INPUT TYPE="file" name="file"><br><br>
  <INPUT TYPE="SUBMIT">
</form>
